doctype html
html
  head
    title Repositório EngWeb
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  body
    .w3-bar.w3-teal
      a.w3-bar-item.w3-button(href="/") Início
      a.w3-bar-item.w3-button(href="/feed") Feed
      if user
        a.w3-bar-item.w3-button(href="/upload") Submeter Recurso
        
        if user.nivel === 'administrador'
          a.w3-bar-item.w3-button.w3-yellow(href="/admin") ⚙️ Painel Admin

        .w3-right
          a.w3-bar-item.w3-button(href="/perfil") 👤 #{user.nome} (#{user.nivel})
          a.w3-bar-item.w3-button.w3-red(href="/logout") Sair
      else
        a.w3-bar-item.w3-button.w3-right(href="/login") Login
    
    if success && success.length > 0
      .w3-container.w3-green.w3-padding
        p= success
    
    if error && error.length > 0
      .w3-container.w3-red.w3-padding
        p= error

    block content